:root {
scroll-behavior: smooth;
--primary-theme-color: #20232a;
--secondary-theme-color: #282c34;
--primary-text-color: #fff;
--secondary-text-color: #eee;
--reverse-primary-text-color: #000;
--primary-invalid-color: crimson;
--primary-shadow-color: #20232a80;
--secondary-shadow-color: #282c3480;
--tertiary-shadow-color: #00000040;
--reverse-primary-shadow-color: #fff8;
--primary-highlight-color: #61dafb;
--secondary-highlight-color: gold;
--primary-button-color: #61dafb;
--secondary-button-color: gold;
--primary-font-family: 'Montserrat', sans-serif;
--padding-section: 1.5rem;
--padding-container: 1rem;
--max-width-container: 640px;
--primary-border-radius: 0.5rem;
--letter-color-1:#00bef8;
--letter-color-2:#ff0697;
--letter-color-3:#ff4d00;
--letter-color-4:#ffe600;
--letter-color-5:#bb00ff;
--letter-color-6:#f5926b;
}
@media (min-width: 768px) {
    :root {
      --padding-section: 2rem;
      --padding-container: 0.75rem;
      --max-width-container: 1024px;
    }
  }
  
  .body {
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    margin: 0;
  }